@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  direction: rtl;
  background-color: #ebebeb ;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#navbar-content ul li a{
    text-align: right;
    padding: 10px 40px;
    border-top: 1px solid #80808037;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    
}
div#navbar-content ul li a:hover{
  background-color: #ebebeb;
  color: blue;
    
}
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
@theme{
  --color-primary: #1e824c;
  --color-navbar : #e1f0f0;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ebebeb !important;
  }
}

#right-header >ul > li:hover{
  background-color: rgba(255, 255, 255, 0.173) !important;
  border-radius: 100px;
}



/* some change in style of scrill bar */
::-webkit-scrollbar {
  width: 6px;        
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}



.desk-cart {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 11px #00000010;
}

@media screen and (min-width: 600px) {
/* style of charts */
.apexcharts-legend {
  display: flex !important;
  flex-direction: column !important;
  align-items: end !important;
  justify-content: center !important;
}
.apexcharts-legend-series {
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center;
}
text.apexcharts-title-text{
  padding: 20px 0 !important;
  display: block;
}
}