@import "tailwindcss";

@font-face {
  font-family: myFirstFont;
  src: url(./assets/fonts/_Woff2/KalamehWeb-Regular.woff2);
}

@font-face {
  font-family: myFirstFont;
  src: url(./assets/fonts/_Woff2/KalamehWeb-Bold.woff2);
  font-weight: bold;
}

:root {
  font-family: myFirstFont , system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  direction: rtl;
  background-color: #F0F2F8 ;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@theme{
  --color-primary: #1E824C;
  --color-navbar : #e1f0f0;
  --color-cupurple : #7267EF;
  --color-greenDark : #0EC497;
  --color-greenLight : #DFF5E2;
  --color-bgBack : #FFF7FA;
  --color-border : #DBDBDB;
}

/* some change in style of scrill bar */
::-webkit-scrollbar {
  width: 6px;        
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}


:disabled{
  opacity: .5;
  cursor: not-allowed;
}
button{
  cursor: pointer;
}
input{
  border: 1px dashed var(--color-border);
  transition: all .1s ease-in-out;
  padding: 10px 15px;
  background-color: white;
}
input:focus{
  outline: none;
  border: 1px dashed var(--color-cupurple);
}

select{
  width: 100%;
    padding: 9px 15px;
  border: 1px solid var(--color-border);
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  outline: solid var(--color-blue-100);
  background-color: white;
}
button[type="submit"] , button[type="reset"]{
  background: var(--color-greenDark) !important;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 5px var(--color-border);
}


/* table style */
th{
  border: 1px solid #DBDBDB !important;
  padding: 15px  !important;
  font-weight: bold;
}
td{
  padding: 20px  !important;
}
tr:not(:last-child){
  border-bottom: 1px solid #DBDBDB !important;
}

tbody tr:hover{
  background-color: #FCFBFF;
}
.overlay-edit{
  display: none;
}
tbody tr:hover .overlay-edit{
  display: flex;
}
.accordion{
  transition: all .5s ease-in-out;
  transition-delay: 250ms;

}
.file-input::before{
  content: "Browse";
  background: #F0F2F8;
  padding: 10px;
}


div#navbar-content ul li a{
    text-align: right;
    padding: 10px 40px;
    border-top: 1px solid #80808037;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    
}
div#navbar-content ul li a:hover{
  background-color: #ebebeb;
  color: blue;
    
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ebebeb !important;
  }
} */

#right-header >ul > li:hover{
  background-color: rgba(255, 255, 255, 0.173) !important;
  border-radius: 100px;
}



.desk-cart {
    background: #F9F9FB;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.052);
    overflow: hidden;
}

@media screen and (min-width: 600px) {
/* style of charts */
.apexcharts-legend {
  display: flex !important;
  flex-direction: column !important;
  align-items: end !important;
  justify-content: center !important;
}
.apexcharts-legend-series {
  display: flex !important;
  flex-direction: row-reverse !important;
  align-items: center;
}
text.apexcharts-title-text{
  padding: 20px 0 !important;
  display: block;
}
}

.apexcharts-canvas {
    font-family: 'myFirstFont' !important;
}

g {
    font-family: 'myFirstFont' !important;
}
